{% extends 'base.html' %}
{% block title %} Sotuvlar {% endblock %}
{% block page %} Sotuvlar {% endblock %}
{% block sale_active %} active {% endblock %}

{% block content %}
<!-- /.content-header -->
<div class="col-md-12">
    <div class="card card-dark">
        <div class="card-header border-0">
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sotuv
                    qo'shish
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table" style="text-align: center;">
                <thead>
                <tr>
                    <th scope="col" style="width: 15px">T/r</th>
                    <th scope="col" style="width: 255px; text-align: center;">Maxsulot</th>
                    <th scope="col" style="text-align: center;">Mijoz ism</th>
                    <th scope="col" style="text-align: center;">Do'kon nomi</th>
                    <th scope="col" style="text-align: center;">Miqdori</th>
                    <th scope="col" style="text-align: center;">Jami</th>
                    <th scope="col" style="text-align: center;">To'landi</th>
                    <th scope="col" style="text-align: center;">Qoldi</th>
                    <th scope="col" style="text-align: center;">Xodim</th>
                    <th scope="col" style="text-align: center;">Imkoniyatlar</th>
                </tr>
                </thead>
                <tbody>
                {% for sale in sales %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ sale.product.name }}</td>
                    <td>{{ sale.client.name }}</td>
                    <td>{{ sale.client.shop_name }}</td>
                    <td>{{ sale.quantity }}</td>
                    <td>{{ sale.total_price|floatformat:2 }} so'm</td>
                    <td>{{ sale.paid_price|floatformat:2 }} so'm </td>
                    <td>{{ sale.debt_price|floatformat:2 }} so'm </td>
                    <td>{{ sale.user.first_name }}</td>
                    <td>
                        <a href="{% url 'edit-sale' sale.id %}">
                            <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Yangi mahsulot</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form method="post" id="new-product-form">
                {% csrf_token %}
                <div class="modal-body">
                    <label>Mahsulot:</label>
                    <select name="product_id" id="product" class="form-control">
                        {% for product in products %}
                        <option value="{{ product.id }}">
                            {{ product.name }} ({{ product.quantity }} {{ product.unit }} mavjud!)
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Miqdor:</label>
                    <input type="number" name="quantity" value="0" id="new-product-brend"
                           class="form-control">
                    <br>
                    <label>Mijoz:</label>
                    <select name="client_id" id="client" class="form-control">
                        {% for client in clients %}
                        <option value="{{ client.id }}">
                            {{ client.name }} {{ client.shop_name }}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Jami:</label>
                    <input type="number" name="total_price" id="new-yarmi-amount"
                           class="form-control" value="0">
                    <br>
                    <label>To'landi:</label>
                    <input type="number" name="paid_price" id="new-jami-amount"
                           class="form-control" value="0">
                    <br>
                    <label>Qoldi:</label>
                    <input type="number" name="debt_price" id="new-product-amount"
                           class="form-control" value="0">
                    <br>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Qo`shish</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

{% endblock %}

